nav.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #083622;
  color: #f5f5f5;
  border-bottom: 1px solid #022717;
  background: linear-gradient(to bottom, #083622, #022717);
  height: 64px;
}

nav.main a {
  text-decoration: none;
  color: inherit;
}
